/*body {
    padding-top: 50px;
    padding-bottom: 20px;
}*/


/*NAV BAR

.navbar-custom {
    background-color: white;
    border-color: transparent;
}

.navbar-custom .navbar-brand {
    margin-top: -10px;
}

.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus,
.navbar-custom .navbar-brand:active,
.navbar-custom .navbar-brand.active {
    color: #222;
}

.navbar-custom .navbar-collapse {
    border-color: rgba(255, 255, 255, 0.02);
}

.navbar-custom .navbar-toggle {
    border: none;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    color: black;
    font-size: 12px;
}

.fa-bars {
    color: #222 font-size: 20px;
    width: 10px;
}

.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
    background-color: white;
}

.navbar-custom .nav li a {
    font-family: 'Karla', "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
    color: #222;
    margin-top: 0px;
}

.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus {
    color: #4075ba;
    outline: none;
}

.navbar-custom .navbar-nav > .active > a {
    border-radius: 0;
    color: #222;
    background-color: none;
}

.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
    color: #4075ba;
    background-color: none;
}

@media (min-width: 768px) {
    .navbar-custom {
        background-color: transparent;
        padding: 25px 0;
        -webkit-transition: padding 0.3s;
        -moz-transition: padding 0.3s;
        transition: padding 0.3s;
        border: none;
    }
    .navbar-custom .navbar-brand {
        font-size: 2em;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
    }
    .navbar-custom .navbar-nav > .active > a {
        border-radius: 0px;
    }
}

@media (min-width: 768px) {
    .navbar-custom.affix {
        background-color: white;
        padding: 10px 0;
    }
    .navbar-custom.affix .navbar-brand {
        font-size: 1.5em;
    }
}
*/
/*End Nav*/


.postLiked {
    color: red;
} 


html, body, main {
    height: 100%;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}



/*Home LOGIN Page*/

#mainBackOverlay {
    position: fixed; /* Sit on top of the page content */
    display: block; /* Hidden by default */
    width: 100vw; /* Full width (cover the whole page) */
    height: 1000px; /* Full height (cover the whole page) */
    top: 8%; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #28343d; /* Black background with opacity */
    /*z-index: 2;  Specify a stack order in case you're using a different order for other elements */    
}






/* Set width on the form input elements since they're 100% wide by default */


* { box-sizing:border-box; }

#noteContentDiv {
    margin-top: 5%;     
}

#noteFormDiv {
    float: right;
    width: 60%;
}

#noteForm {
    margin-right: -5%;
}

.noteContainer {
    font-family:'Roboto';
    width:100%; 
    margin:30px auto 0; 
    display:block; 
    background:#FFF;
    padding:10px 50px 50px;
}


/*tags*/

#wrapper
{
    margin: 0 auto;
    width:600px;
    height:100px;   
}

#repostWrapper {
   
    width:600px;
    height:100px;   
}

p 
{
    margin:0 0 5px 0;
    font-family: 'Roboto', sans-serif;
}

.tags-input 
{
    list-style : none;   
    border:1px solid #ccc;
    display:inline-block;
    /*padding:7px;*/
    padding-top: 5px;
    padding-bottom: 5px;
    height: 45px;
    font-size:16px;
    background:#f3f3f3;
    width: 600px;
    border-radius:2px;
    overflow:hidden;
    font-family: 'Roboto', sans-serif;
}

.tags-input li
{
    float:left;
    height: 35px;
}

.tags
{
    background:#28343d;
    padding:5px 20px 5px 8px;
    border-radius:2px;
    margin-right: 5px;
    position: relative;
}

.tags i
{
    position: absolute; 
    right:6px;
    top:3px;
    width: 8px;
    height: 8px;
    content:'';
    cursor:pointer;
    opacity: .7;
    font-size:12px;
}

.tags i:hover
{
    opacity: 1;
}

.tags-new input[type="text"]
{
    border:0;
    margin: 0;
    padding: 0 0 0 3px;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    margin-top: 5px;
    background:transparent;
}

.tags-new input[type="text"]:focus
{
    outline:none; 
}

/*************************************************/
/*Search BARRRRR*/

#searchBarContainer {
    margin-top: 65px;
}

#custom-search-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 18px;
}


/*
    Tab thing
*/

/* USER PROFILE PAGE */
*,
*::before,
*::after {
    box-sizing: border-box;
}
html {
    background-color: white;
}
body {
    color: #999999;   
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0;
    padding: 1rem;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: "liga" on;
}

.btn {
    background-color: white;
    border: 1px solid #cccccc;
    color: #696969;
    padding: 0.5rem;
    text-transform: lowercase;
}
.btn--block {
    display: block;
    width: 100%;
}

.cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

.cards__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 1rem;
}

@media (min-width: 40rem) {
    .cards__item {
        width: 50%;
    }
}
@media (min-width: 56rem) {
    .cards__item {
        width: 33.3333%;
    }
}

.card {
    background-color: white;
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    overflow: hidden;
    width: 700px;
}

.card:hover{
    -webkit-filter: contrast(100%);
    filter: contrast(100%);
}

.card__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 1rem;
    width: 100%;
    margin-top: 3px;  
}

.card__title {
    color: #696969;
    font-size: 1.25rem;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
    
}

.card__text {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    font-size: 0.875rem;
    line-height: 1.6;
    margin-bottom: 1.25rem;
    font-family: 'Roboto', sans-serif;
    padding-top: 5px;
}

.noteButtons {
    width: 10%;
    background: none;
    color:inherit;
    border:none; 
    padding:0;
    font: inherit;    
    border-bottom: none; 
    cursor: pointer;  
}

#buttonRow {
    width: 100%;
    margin-bottom: 0;
    padding-left: 10px;
}

/*
    SIGN UP FORM 
*/

#signUpForm {
    margin-top: 10%;
}

/* Form Layout for Creating a note */
#uiFormComponent {
    margin-top: 100px;
}

#noteCollectionDiv {
    width: 100%;
}

/*Overlay*/

#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 60%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white; /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
    border-right: black inset 3px;
}

#repostOverlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 60%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white; /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
    border-right: black inset 3px;
}

#whiteOverlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 52%; /* Full width (cover the whole page) */
    height: 60%; /* Full height (cover the whole page) */
    top: 24%; 
    left: 3%;
    right: 0;
    bottom: 0;
    background-color: white; /* Black background with opacity */
    z-index: 10; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

#closeOverlayBtn {
    position: absolute;
    top: 10%;
    right: 2%;    
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

#closeRepostOverlayBtn {
    position: absolute;
    top: 10%;
    right: 2%;    
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

#overlayNoteItem {
    margin-left: 8%;
    margin-right: 10%;   
    margin-top: 10%;
    top: 20%;
}

#floatOverlayIcons {
    position: absolute;
    bottom: 10%;
    left: 7%;
    width: 70%;   
    font-size: 1.5em;
}

.noteTitle {
    font-size: 28px;
    color: black;
    padding-bottom: 3px;
}

.noteAuthor {
    font-size: 22px;
    color: black;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 12px;
}

.noteDescription {
    font-size: 18px;
    color: black;
    font-family: 'Roboto', sans-serif;
    padding-top: 6px;
}

.noteContent {
    font-size: 18px;
    color: black;
    alignment: left;
    font-family: 'Roboto', sans-serif;
}

#div2 {
    margin: 0 auto;
}

.noteOverlayStyling {
    margin-top: 40px;
}

#overlayButtonRow {
/*   margin-top: 80%;*/
/*    margin-bottom: 15%;*/
    top: 50%;
}

#overlayButtonRow {
    position: fixed;
    bottom: -10%;
    left: 4%;   
}

#repostFormDiv {
    padding-left: 45px;
    padding-top: 75px;
}

#leftArrow {
    position: absolute;
    margin-top: 400px;
    left: 93%;
    z-index: 10;
    font-size: 2.2em;
    color: black;
    display: none;
}

#leftArrow:hover {
    color: #666666;
}