@using IShareMVCFinal.DAO
@model IShareMVCFinal.Models.Tables.Note

@{
    ViewBag.Title = "Home Page";
}

<!-- Razor foreach to parse out the notes into bootstrap -->


<div class="row">
    <div class="container" id="searchContainer">
        <div class="row">
            <div class="col-md-11">               
                <div id="custom-search-input">
                    <div class="input-group col-md-12">
                        <input type="text" class="form-control input-lg" />
                        <span class="input-group-btn">
                            <button class="btn btn-info btn-lg" type="button">
                                <i class="glyphicon glyphicon-search"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
       
        
        <div id="noteCollectionDiv">           
            <ul class="cards">                
                @foreach (var note in NoteDAO.GetNotes())
                {
                    <li class="cards__item">
                        <div class="card">
                            <div class="card__content">
                                <div class="card__title">@note.Title</div>
                                <p class="card__text"> @note.Description</p>
                                <div class="row" id="buttonRow">
                                    <button type="button" class="noteButtons btn btn-default">
                                        <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                                    </button>
                                    <button type="button" class="noteButtons btn btn-default">
                                        <span class="glyphicon glyphicon-retweet" aria-hidden="true"></span>
                                    </button>
                                    <button type="button" class="noteButtons btn btn-default">
                                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                    </button>
                                    
                                    <button class="testAjax">Make call</button>
                                </div>
                            </div>
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>



@section scripts
{
   
    <script>
        
        $(".testAjax").click(function () {
               $.getJSON("")
            });

        

    </script>   
}
